<div class="header-font margin-bottom-20 margin-top-20 margin-left-20">Xyz Sales Data</div>

<div class="row margin-top-20 margin-left-10 margin-bottom-20">
  <div class="col-xs-1 col-sm-2"><button class="form-control btn btn-secondary" (click)="onAddNewRow()">Add New Row</button></div>
</div>
<div class="margin-left-20">
  <ag-grid-angular
    #myGrid
    id = "myGrid"
    style="width: 60%; height: 300px;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    (gridReady)="onGridReady($event)">
</ag-grid-angular>
</div>


